.fixedInfo {
    background-color: rgb(0, 26, 26);
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 6px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.test {
    display: flex;
}

.topic {
    padding: 0px 10px;
}

.infos {
    color: darkcyan;
    box-shadow: 1px white;
    width: 200px;
    text-align: center;
}

.topic {
    justify-content: center;
}

.icon {
    width: 20px;
}

@media only screen and (max-width: 200px) {
    .fixedInfo {
        width: 85px;
        padding: 3px;
        font-size: xx-small;
    }

    .icon {
        width: 8px;
    }

    .infos {
        color: darkcyan;
        width: 30px;
        height: 10px;
        text-align: center;
        font-size: xx-small;
    }
    
    .topic {
        padding: 0px 0px;
        font-size: xx-small;
        width: 10px;
    }
}